.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  position: relative;
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-body-2 {
  min-height: 64px;
  padding: 8px 24px 0;
}

.add-btn {
  position: absolute;
  bottom: 12px;
  right: 24px;
}

.update-btn {
  position: absolute;
  bottom: 12px;
  right: 120px;
}

.input-nilai {
  width: 50px;
}