<div *ngIf="mhs">
  <mat-card class="mhs-card">
    <table>
      <tr>
        <td>
          <mat-card-header>
            <div mat-card-avatar>
              <i class="material-icons">account_circle</i>
            </div>
            <mat-card-title> Mahasiswa </mat-card-title>
            <mat-card-subtitle>{{mhs.Nama}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr>
                <td>NIM</td>
                <td>: {{mhs.Nim}}</td>
              </tr>
              <tr>
                <td>Nama</td>
                <td>:
                  <input [(ngModel)]="mhs.Nama">
                </td>
              </tr>
              <tr>
                <td>Tanggal Lahir</td>
                <td>:
                  <input [ngModel]="mhs.TgLahir | slice:0:11" (ngModelChange)="mhs.TgLahir=$event">
                </td>
              </tr>
              <tr>
                <td>Tempat Lahir</td>
                <td>:
                  <input [(ngModel)]="mhs.TpLahir">
                </td>
              </tr>
              <tr>
                <td>Jenis Kelamin</td>
                <td>:
                  <mat-radio-group value="{{mhs.JenisKelamin}}">
                    <mat-radio-button value="L">Laki-laki</mat-radio-button>
                    <mat-radio-button value="P">Perempuan</mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
            </table>
          </mat-card-content>
          <mat-card-actions></mat-card-actions>
        </td>
        <td>
          <mat-card class="kls-card">
            <mat-card-header></mat-card-header>
            <mat-card-content>
              <table>
                <tr>
                  <td>Kelas yang diambil:</td>
                </tr>
              </table>
              <table *ngFor="let kelas of this.klss">
                <tr>
                  <th>{{kelas.Kelas.Nama}}</th>
                </tr>
                <tr>
                  <td>Kode Kelas</td>
                  <td>: {{kelas.KodeKelas}}</td>
                </tr>
                <tr>
                  <td>Nilai UTS</td>
                  <td>: {{kelas.NilaiMid}}</td>
                </tr>
                <tr>
                  <td>Nilai UAS</td>
                  <td>: {{kelas.NilaiSem}}</td>
                </tr>
                <tr>
                  <td>Nilai Mutu</td>
                  <td>: {{kelas.NilaiMutu}}</td>
                </tr>
                <tr>
                  <td>
                    <mat-divider></mat-divider>
                  </td>
                  <td>
                    <mat-divider></mat-divider>
                  </td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </td>
      </tr>
      <tr>
        <td>
          <mat-card-actions>
            <button mat-button (click)="confirmSave()">
              <mat-icon>edit</mat-icon>Update</button>
            <button mat-button (click)="confirmDelete()">
              <mat-icon>delete</mat-icon>Delete</button>
            <button mat-button (click)="goBack()">
              <mat-icon>close</mat-icon>Back</button>
          </mat-card-actions>
        </td>
      </tr>
    </table>
  </mat-card>
</div>
